
{% extends "base.html.twig" %}
    
{% block content %}
    <form action="/yt-download/dwl" class="w-full h-4/6 flex items-center justify-center flex-col", method="get">
        <input name="url"    class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/5 p-2.5 " placeholder="Video Url">
        <button  type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Download</a></button>
    </form>
{% endblock %}